$sprites: (
        enlarge: (
            name: 'enlarge',
            width: 32px,
            height: 32px,
            x: 0px,
            y: 0px,
            offset-x: 0px,
            offset-y: 0px,
            total-width: 64px,
            total-height: 64px,
            img: '/assets/images/sprite.png',
        ),
        enlarge2: (
            name: 'enlarge2',
            width: 32px,
            height: 32px,
            x: 32px,
            y: 0px,
            offset-x: -32px,
            offset-y: 0px,
            total-width: 64px,
            total-height: 64px,
            img: '/assets/images/sprite.png',
        ),
        shrink: (
            name: 'shrink',
            width: 32px,
            height: 32px,
            x: 0px,
            y: 32px,
            offset-x: 0px,
            offset-y: -32px,
            total-width: 64px,
            total-height: 64px,
            img: '/assets/images/sprite.png',
        ),
        shrink2: (
            name: 'shrink2',
            width: 32px,
            height: 32px,
            x: 32px,
            y: 32px,
            offset-x: -32px,
            offset-y: -32px,
            total-width: 64px,
            total-height: 64px,
            img: '/assets/images/sprite.png',
        ),
);

@function get-sprite($sprite-name){
    @if not map-has-key($sprites, $sprite-name) {
        @warn "Unfortunately, no value could be retrieved from `#{$sprites}`. Please make sure it is defined in `$sprites` map.";
    }

    @return map-get($sprites, $sprite-name);
}

@mixin sprite-width($sprite-name) {
    $sprite: get-sprite($sprite-name);

    width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite-name) {
    $sprite: get-sprite($sprite-name);

    height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite-name) {
    $sprite: get-sprite($sprite-name);

    background-position: map-get($sprite, 'offset-x') map-get($sprite, 'offset-y');
}

@mixin sprite-image($sprite-name) {
    $sprite: get-sprite($sprite-name);
    $sprite-bg-image: map-get($sprite, 'img');

    background-image: url(#{$sprite-bg-image});
}

@mixin sprite($sprite-name) {
    @include sprite-image($sprite-name);
    @include sprite-position($sprite-name);
    @include sprite-width($sprite-name);
    @include sprite-height($sprite-name);
}