.no-svg {
    .svg-icon {
        background-image: url("./assets/svgs/sprite-svg-fallback.png");

        
        &_type_circle {
            background-position: 0px 0px;
            width: 32px;
            height: 32px;
        }
        
        &_type_remove {
            background-position: -32px 0px;
            width: 16px;
            height: 16px;
        }
        
    }
}


